<h2>{{ heroes.name | uppercase }} Details</h2>
<p>id: {{ heroes.id }}</p>
<p><span>name : {{ heroes.name }}</span></p>

<div>
    <label for="name">name:
        <input type="text" [(ngModel)]="heroes.name" placeholder="name">
    </label>
</div>
<hr>

<h2>My Heroes</h2>
<ul class="heroes">
    <li>
        <span class="badge">{{hero.id}} : </span> {{hero.name}}
    </li>
    <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span>{{ hero.id }} : </span> {{ hero.name }}
    </li>
</ul>


<!-- selectedHero 데이터가 있을 경우  -->
<!-- 
<div *ngIf="selectedHero"> 
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ selectedHero.id }}</div>
    <div>
        <label for="name">
            name: <input type="text" [(ngModel)]="selectedHero.name" placeholder="name">
        </label>
    </div>
</div> 
-->
<!-- 위의 데이터를 하단으로 분산 -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>